---
import "../styles/global.css";

// Component Imports
import Projects from "../components/projects.astro";
import Discord from "../components/discord.astro";

// Component Script:
let title = 'acemod';

---
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

    <link rel="icon" type="image/png" href="/favicon.png" />
</head>

<body>
    <main class="max-w-5xl mx-auto text-center">
        <header>
            <div>
                <h1>acemod</h1>
            </div>
        </header>
        <Projects />
        <Discord />
    </main>
</body>

</html>
