---
import "../styles/global.css";
import Projects from "../components/projects.astro";
import Discord from "../components/discord.astro";
---

<style lang="scss">
    body {
        display: grid;
        grid-template: auto max-content / auto;
        width: 100vw;
        min-height: 100vh;
    }

    main {
        display: relative;
    }
</style>

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <title>ACE - The realism mod for Arma</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    </head>

    <body>
        <Projects />
        <Discord />
    </body>
</html>
