---
---

<style lang="scss">
    h1 {
        margin: 0;
        padding: 0;
    }

    a {
        display: flex;
        padding: 1em 0;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: #23272a;
        transition: background-color 0.1s ease-in-out;
        text-decoration: none;

        &:hover, &:active {
            background-color: #5865f2;
            transition: background-color 0.3s ease-in-out;
        }
    }

    img {
        max-width: 50%;
        height: 50px;
        margin: 0 22px;
        object-fit: contain;
    }
</style>

<h1>
    <a href="https://acemod.org/discord">
        <img src="/img/discord.png" alt="Discord" />
    </a>
</h1>
